{% extends 'base.html' %}
{% block content %}
<div class="contanier-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-3 col-lg-2 "><div>{% include "mainSidebar.html" %}</div></div>
        <div class="container col-sm-12 col-md-9 col-lg-9">

            <table class="table m-5">
                <thead>
                  <tr>
                    <th scope="col">순위</th>
                    <th scope="col">반려동물 이름</th>
                    <th scope="col">추천수</th>
                    <th scope="col">글 작성일시</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>알렉산더</td>
                    <td>984543215</td>
                    <td>1950.6.25</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                  </tr>
                  <tr>
                    <th scope="row">6</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                  </tr>
                  <tr>
                    <th scope="row">7</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                  </tr>
                  <tr>
                    <th scope="row">8</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                  </tr>
                  <tr>
                    <th scope="row">9</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                  </tr>
                  <tr>
                    <th scope="row">10</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                  </tr>

                </tbody>
              </table>
        </div>
    </div>
</div>

<style>
    
</style>
<script>
 
</script>
{% endblock %}