{% extends 'base.html' %}
{% load pybo_filter %}
{% block content %}
{% load static %}
<div class="col-md-9 col-lg-7">

    
    <div id="myCarousel" class="carousel slide mt-4" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item carousel-item-next carousel-item-start">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-tertiary-color)"></rect></svg>
            <div class="container">
              <div class="carousel-caption text-start">
                <h1>Example headline.</h1>
                <p>Some representative placeholder content for the first slide of the carousel.</p>
                <!-- <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p> -->
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
            <div class="container">
              <div class="carousel-caption">
                <h1>Another example headline.</h1>
                <p>Some representative placeholder content for the second slide of the carousel.</p>
                <!-- <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p> -->
              </div>
            </div>
          </div>
          <div class="carousel-item active carousel-item-start">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
            <div class="container">
              <div class="carousel-caption text-end">
                <h1>One more for good measure.</h1>
                <p>Some representative placeholder content for the third slide of this carousel.</p>
                <!-- <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p> -->
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
<!-- 프로필 카드 컴포넌트 -->
      <div class="card" style="width: 15rem; border-radius: 10px; margin-top: 10px; height: 400px;  user-select: auto; box-sizing: content-box; position: absolute;">
        <img class="card-img-top" src="https://d3j8buaepzkvqi.cloudfront.net/img/1582028088451-2.jpg" alt="Card image cap" onclick="openModal()">
      
        <div class="card-body">
          <h5 class="card-title" style="text-align: center;"> {{ user.username }} </h5>
          <p class="card-text" style="text-align: center; font-weight:lighter;">알렉산더</p>

          <div class="profile-card-menu" >
            <img src="C:\Users\PC\Desktop\team-project\Team-Project\static\icon\profile.png" alt="">
            <button type="button" style="border: none; background-color: #FFFFFF; margin-left: 30px;">
              <a href="{% url 'pybo:user_profile' %}">
                <img src="{%static 'icon/profile.png' %}" alt="Logo" height="30">
              </a>
            </button>
            <button type="button" style="border: none; background-color: #FFFFFF;">
              <a href="{% url 'pybo:calendar' %}">
                <img src="{%static 'icon/cal.png' %}" alt="Logo" height="30">
              </a>
            </button>
            <button type="button" style="border: none; background-color: #FFFFFF; left: 100px;">
              <a href="{% url 'pybo:main' %}">
                <img src="{%static 'icon/setting.png' %}" alt="Logo" height="30">
              </a>
            </button>
          </div>

<!-- 프로필 사진 누르면 프로필 수정 페이지 나옴 -->
          <div id="modal" class="modal">
            <div class="modal-content">
              <span class="close" onclick="closeModal()">&times;</span>
              <div>
                <h2>프로필 수정</h2>
                <div>
                    <h6>First Name</h6>
                    <input type="text" placeholder="{{ user.username }}" onblur="this.placeholder" style="width: 40%; flex-direction: column; align-items:flex-start; background: #FFFFFF; border-radius: 5px; border: 2px solid #858585;  " />
                </div>
        
                <div>
                    <h6>E-mail</h6>
                    <input type="text" placeholder="{{ user.email }}" style="width: 60%; flex-direction: column; align-items:flex-start; background: #FFFFFF; border-radius: 5px; border: 2px solid #858585" />
                   
                   
                    <h6>Password</h6>
                    <input style="width: 60%; flex-direction: column; align-items:flex-start; background: #FFFFFF; border-radius: 5px; border: 2px solid #858585" />
                </div>

                <div style="display: inline-block; float: right;">
                    <button type="button" style="background: #FFFFFF; border-color: #5429ff; color: #5429ff; border-radius: 5px;"  > Cancel </button>
                    <button type="button" style="background: #5429ff; color: #ffffff; border-radius: 5px;"  > Save </button>
                </div>

            </div>
            </div>
          </div>
<!-- 프로필 수정 모달창 닫기 -->
      
        </div>
      </div>
<!-- 프로필 카드 컴포넌트 끝 -->


<!-- 금주의 댕콘테스트 컴포넌트  -->
<div class="col"  style="margin-left: 30%; width:30%; height: 300px; display: inline-block;">

  <div class="col" style="display: inline-block;">
    <div class="card shadow-sm">
    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
        </div>
        <small class="text-body-secondary">9 mins</small>
        </div>
    </div>
    </div>
    <div class="card shadow-sm " style="float: right;">
      <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
      <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
          </div>
          <small class="text-body-secondary">9 mins</small>
          </div>
      </div>
      </div>
  </div>
</div>

  
</div>



      








<!-- 뉴스 사이드 컴포넌트  -->
<div class='col-md-1 col-lg-3 mainNews' style=" float: right; background-color:#ffffff; margin-top: 1%;  border-radius: 10px; min-height: 100vh;">
  <div class='col-md-1 col-lg-3' style="font-weight:900; margin-top: 3%;">뉴스</div>
  {% if question_list %}
      {% for question in question_list %}
          <div class=' col-md-12 col-lg-12 d-flex justify-content-center' style="margin-top: 4%;">
              <div class="col-md-11 col-lg-11 card" style="border-radius: 10px;">
                  {% if question.thumbnail %}
                  <a href="{% url 'pybo:expert_detail' question.id %}"><img src="{{ question.thumbnail.url }}" class="card-img-top" alt="no_img" style="max-height: 300px; border-radius: 10px;"></a>
                  
                      <!-- <img src="{{ question.thumbnail.url }}" class="card-img-top" alt="no_img" style="max-height: 300px; border-radius: 10px;">
                        <a href= "{% url 'pybo:expert_detail' question.id %}" style="user-select: auto; position: absolute; right: 10%; top: 60%; text-decoration: none; background-color: black;  padding: 10px 16px; border-radius: 10px; color: white;" >더보기</a> -->
                  {% endif %}
                  
                  <div class="card-body" style="overflow: hidden;">
                    <h4 class="card-title" style="float: left; ">{{ question.subject }}</h4>   
                    <h7 class="card-subtitle mb-2 text-muted" style="float: right; margin-top: 10px;">{{ question.author.username }}</h7>
                  </div>
              </div>
          </div>
      {% endfor %}
  {% endif %}
</div>


<script>
function openModal() {
  document.getElementById("modal").style.display = "block";
}

function closeModal() {
  document.getElementById("modal").style.display = "none";
}

window.onclick = function(event) {
  var modal = document.getElementById("modal");
  if (event.target == modal) {
    modal.style.display = "none";
  }
};
</script>

<style>
  .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
</style>
{% endblock %}

<!-- 자바스크립트 End -->




