<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid main-container">
        <div class="container" id="wc-container" style="user-select: auto;">
                <div class="col-12" style="text-align: center; margin-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 50px; width: 100%; user-select: auto;">
                    <h3 class="feature-heading mb-2 heading_mention pc-only" style="user-select: auto;"></h3>
                </div>
            <div class="row" id="main_row" style="user-select: auto;">
    
    
                <div class="col-lg-8 offset-lg-2 col-xl-4 offset-xl-4" style="padding: 0px; user-select: auto;">
    
                    <div id="main_heading">
    
                        <div class="row" style="padding-top: 2rem; user-select: auto;">
                            <div class="col-md-12 mb-3" style="text-align: center; user-select: auto;">
    
                                <h3 class="pc-only"  style="height: 25px; margin-bottom: 15px; user-select: auto; font-weight: bold; font-size: 50px;">DOG AND CAT</h3>
                                <h3 class="feature-heading mb-5 pc-only heading_mention" style="user-select: auto; font-size:medium; margin-top: 10%;">Please fill your detail to access your account</h3>
                            </div>
                            <div class="col-md-12" style="user-select: auto;"></div>
                        </div>
                        <div style="user-select: auto;">
    
                            <div class="row" style="text-align: center; user-select: auto; " >
                                <div class="col-md-12" style="user-select: auto;">
                                </div>
                                <div class="col-md-12" style="padding-left: 15px; padding-right: 15px; user-select: auto;">
                                    <form method="post" action="{% url 'common:login' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="next" value="{{ next }}">  <!-- 로그인 성공후 이동되는 URL -->
    
                                        {% include "form_errors.html" %}
                                        <div class="mb-3">
                                            <label for="username" style="float: left; font-family: 'Montserrat';">User ID</label>
                                            <input type="text" class="form-control" name="username" id="username"
                                                   value="{{ form.username.value|default_if_none:'' }}">
                                        </div>
                                        <div class="mb-3">
                                            <label for="password" style="float: left; font-family: 'Montserrat';">Password</label>
                                            <input type="password" class="form-control" name="password" id="password"
                                                   value="{{ form.password.value|default_if_none:'' }}">
                                        </div>
                                        <button type="submit" class="btn btn-primary" style="width: 100%; background-color: #5429FF; border: none;">Login</button>
                                    </form>

                                    <br style="user-select: auto;">
                                    <p style="user-select: auto;"> 
                                        <a href="{% url 'password_reset' %}" style="user-select: auto; text-decoration: none; color: #5429FF; float: right; font-family: 'Montserrat';">Fogot Password? </a>
                                    </p>
                                </div>
                                <div class="col-md-12" id="footer_login" style="padding-left: 0px; padding-right: 0px; user-select: auto;">
                                    <p style="margin-top: 8px; user-select: auto;">아직 dog and cat 회원이 아니신가요?
                                        <a class="nav-link" href="{% url 'common:signup' %} " style="font-family: 'Montserrat'; color: #5429FF;">Signup</a>

                                    </p>
                                </div>
                            </div>

                            <p class="company-copyright" style="text-align: center; margin-top: 80px;  user-select: auto;">Hoseo Corporation © 2022 </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
    </style>
</body>
</html>